<!-- <div class="jumbotron text-center">
<div ng-show="qrCode == undefined">
	<img ng-src="{{qrCode}}" src="value">
	<a id="qrcode" style="width:100px; height:100px; margin-top:15px;" download></a>
</div>
<div>
	<label>Select Class</label> <select ng-model="className" ng-options="x for x in classNames"></select>
	<p></p>
	<label>Enter Syllabus Number</label>  <input type="text" ng-model="syllabusNo">
	<p></p>
	<label>Enter Content Section Value</label><input type="text" ng-model="contentId">
	<input id="text" type="text" value="http://nexteducation.com" style="width:80%" /><br />
</div>
<div>

</div>
	<p></p>
	<p> <button ng-click="generateQRCode()">Generate</button> </p>
	<p> <button ng-click="download()">Download</button> </p>
</div>
 -->
<div class="container-qr">
 	<div class="form-horizontal">

	 	<div class="form-group">
	      <label class="control-label col-sm-4" >Select Grade</label>
	      <div class="col-sm-8">
	        <select class="selectpicker form-control" ng-model="className" ng-options="x for x in classNames"></select>
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="control-label col-sm-4" >Enter Subject Name</label>
	      <div class="col-sm-8">
	       <select class="selectpicker form-control" ng-model="syllabusNo" ng-options="x for x in subjects"></select>
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="control-label col-sm-4" >Enter Page No</label>
	      <div class="col-sm-8">
	       <input  class="form-control" type="text" ng-model="pageNo" required>
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="control-label col-sm-4" >Enter Description</label>
	      <div class="col-sm-8">
	        <input class="form-control" type="text" ng-model="description" required>
	      </div>
	    </div>
	    <div class="form-group">
			<label class="label label-info control-label">Click on image to download</label>
		</div>
	    <div class="form-group">
	      <button class ="btn-warning btn" ng-click="generateQRCode()">Generate</button>
	      <button class ="btn-warning btn" ng-click="download()" ng-show="isQRGenerated">Save</button>
		  <button class ="btn-warning btn" ng-click="createNew()">New</button>
	    </div>
	    <label class="label label-info control-label" ng-show="isQRGenerated">QR code generated but not saved. Click on 'save' to save the code</label>
	     
		 <label class="col-sm-6 label label-danger text-right">{{generalText}}</label>
	</div>
 	
	</div>